VITE_FIREBASE_API_KEY=xxx-xxx-xxx-xxxxx-xxx
VITE_FIREBASE_AUTH_DOMAIN=xxx-xxx-xxx-xxxxx-xxx
VITE_FIREBASE_PROJECT_ID=xxx-xxx-xxx-xxxxx-xxx
VITE_FIREBASE_STORAGE_BUCKET=xxx-xxx-xxx-xxxxx-xxx
VITE_FIREBASE_MESSAGING_SENDER_ID=xxx-xxx-xxx-xxxxx-xxx
VITE_FIREBASE_APP_ID=xxx-xxx-xxx-xxxxx-xxx
VITE_FIREBASE_MEASUREMENT_ID=xxx-xxx-xxx-xxxxx-xxx